################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Increments
/CalculatorConsoleApp/.vs/CalculatorConsoleApp/FileContentIndex/1542caee-6cf6-4848-a442-d6c15647b9fe.vsidx
